@model Domain.Entities.IM253E07Usuario
@{
    ViewData["Title"] = "Editar usuario";
}
<h1>Editar usuario</h1>
<form asp-action="Edit">
    <input asp-for="Id" type="hidden" />
    <div class="mb-2">
        <label>Nombre:</label>
        <input asp-for="Nombre" class="form-control" required />
    </div>
    <div class="mb-2">
        <label>Dirección:</label>
        <input asp-for="Direccion" class="form-control" />
    </div>
    <div class="mb-2">
        <label>Teléfono:</label>
        <input asp-for="Telefono" class="form-control" required />
    </div>
    <div class="mb-2">
        <label>Correo:</label>
        <input asp-for="Correo" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
